body{
    margin: 0;
}
.content-body{
    margin: 3rem;
}
div.jumbotron{
    background-image: url("../img/pizza.png");
    background-size: cover;
}
.navbar{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(255,255,255,0.5);
    color: rgba(19, 18, 18, 0.75);
    font-size: 5vw;
    margin: 1rem auto;
    text-align: center;
}
h2{
    margin-top: 3rem;
}

.display-4{
    font-size: 4.5rem;
}

.card-body{
    background-color: #0578f6;
    color: white;
    border: solid #c4bfbf 2px;
    border-radius: 5px;
    /*padding: 5px;*/
}
.card-one{
    margin: 2rem;
    border: solid #c4bfbf 1px;
    border-radius: 5px;
}
.list-group-item{
    padding-left: 2vw;
}
.card-title{
    padding-left: 2vw;
}
.next{
    text-align:right;
}
.list-group{
    margin: 0;
}

div.form-check{
    padding: 0;
}

.btn{
    display:flex;
    justify-content: flex-end;
}
